# Puertos servidor web. Usar puertos que estén libres.
HOST_HTTP_PORT=8000
HOST_HTTPS_PORT=8443

# Versiones de PHP disponibles: php5.6, php7.3
PHPVERSION=php-7.3
DOCUMENT_ROOT=./www
VHOSTS_DIR=./config/vhosts
APACHE_LOG_DIR=./logs/apache2
PHP_INI=./config/php/php.ini

# Variables de MariaDB
DATABASE=mariadb-10.5
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql
MYSQL_USER=docker
MYSQL_PASSWORD=docker
MYSQL_DATABASE=docker
MYSQL_ROOT_PASSWORD=docker

# Variables phpMyAdmin
HOST_HTTP_PHPMYADMIN_PORT=9000